<h1>Editing train detail</h1>

<%= render "form", train_detail: @train_detail %>

<br>

<div>
  <%= link_to "Show this train detail", @train_detail %> |
  <%= link_to "Back to train details", train_details_path %>
</div>
