!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Booking Confirmation</h1>
        <p> <%= @user.name %> Your booking  has been confirmed.</p>
        <p>Your PNR is: <%= @reservation.pnr %> </p>

    <p>Your Ticket with ID <%= @reservation.id %> has been confirmed.</p>
   
  </body>
</html>